body {
  background-image: url('./assets/background.jpeg');
  background-size: cover;
  background-position: center;
}

.container {
  max-width: auto;
  margin: 0 auto;
  padding: 20px;
}

/* Tab Navigation */
.tab-nav {
  display: flex;
  justify-content: space-between;
  color: #16cbeb;
  background-color: rgb(0, 0, 0);
}

.tab-link {
  padding: 10px 20px;
  cursor: pointer;
}

.tab-link.active {
  background-color: #7fa1d4;
  color: #fff;
}

/* Tab Content */
.tab-content {
  margin-top: 20px;
  color: #130808;
}

/* Slider */
.slider-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.slider-button {
  padding: 5px 10px;
  font-size: 18px;
  cursor: pointer;
  background-color: #ccc;
  border: none;
  outline: none;
}

.slider-image {
  max-width: 100%;
  height: auto;
  margin: 0 10px;
}

/* Form Container */
.form-container {
  margin-top: 20px;
  max-width: 800px;
  margin: 0 auto; 
}

.form-container h4 {
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input,
select {
  padding: 5px;
  margin-bottom: 10px;
}

button[type="submit"] {
  padding: 10px 20px;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border: none;
  outline: none;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
